* {
  box-sizing: border-box;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(221, 230, 230);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* navbar */

.navbar {
display: flex;
border: 2px solid red;
height: 50%;
justify-content: center;
background-color: #F55A5A;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar_img {
  object-fit: contain;
 height: 100px;
 width: 100px;
 padding: 1.5% 1.5%; 
 
}


/* Travel Card  */

.travelCard_container{
 height: 300px;
  padding: 1% 5%;
  display: flex;
  
}

.travelCard_section{
  padding: 0% 1%;
}
.travel_img{
  width: 300px;
  height: 300px;
  border-radius: 5%;

}

.travel_title {
  font-weight: bold;
  font-size: 48px;
}

.travel_location {
  font-size: larger;
  font-weight: bold;
}

/* google link */
.travel_googleMap:link{
color: darkgrey;
}
.travel_googleMap:visited{
  color: red;
  }

.travel_googleMap:hover{
  color: blue;
}

.travel_imgPointer {
  height: 15px;
  padding-right: .25%;
}